
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480750288397'); /* IE9*/
  src: url('iconfont.eot?t=1480750288397#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480750288397') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480750288397') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480750288397#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before { content: "\e78a"; }

.icon-jikediancanicon07:before { content: "\e775"; }

.icon-yinliang:before { content: "\e672"; }

.icon-zanting:before { content: "\e673"; }

.icon-houtui:before { content: "\e603"; }

.icon-qianjin:before { content: "\e604"; }

.icon-danquxunhuan:before { content: "\e62f"; }

.icon-shunxubofang:before { content: "\e630"; }

.icon-suijibofang:before { content: "\e622"; }

.icon-yinleliebiao:before { content: "\e627"; }

